body {
  background-color: beige;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: brown;
}
.nav {
  border: solid 5px lightblue;
  text-align: center;
}

a {
  color: brown;
  text-decoration: none;
  font-size: large;
}

#about-me,
#skills,
#contact {
  border: solid 5px brown;
  border-radius: 20px 20px;
  padding: 20px;
}

img {
  border: dotted 5px black;
  border-radius: 10px;
}
